body{
    background-image: url(../images/rbg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#ui{
    background-color: #126e82;
    padding: 30px;
    margin-top: 90px;
    border-radius: 10px;
    opacity: 0.8;
}
#ui label,h1{
    color: white;
}
#phone {
    -moz-appearance: textfield;
}
#phone::-webkit-inner-spin-button {
    display: none;
}
#phone::-webkit-outer-spin-button,
#phone::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}